In [1]:
import pandas as pd
import numpy as np
import os

# Read the cleaned listings CSV (output from clean_csvs.ipynb)
df_clean = pd.read_csv("../data/processed/listings_cleaned.csv")
print(f"Data shape: {df_clean.shape}")
df_clean.head()

Data shape: (21328, 79)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,40824219,https://www.airbnb.com/rooms/40824219,20251001171547,2025-10-02,city scrape,Room close to Manhattan for FEMALE guests,This cozy spacious room includes a twin size b...,Sunnyside is a safe residental area. <br />The...,https://a0.muscache.com/pictures/hosting/Hosti...,317540555,...,4.88,4.94,4.69,NaN,f,3,0,3,0,0.23
1,40839416,https://www.airbnb.com/rooms/40839416,20251001171547,2025-10-02,city scrape,ðŸª´XL dojo ðŸŒ¾ shared green yogi palace apt ðŸŒ¿,"New York City living at its best. A massive, c...",Live like the Ramones > The East Village is st...,https://a0.muscache.com/pictures/hosting/Hosti...,4765305,...,5.00,5.00,4.95,NaN,f,8,0,8,0,0.40
2,40843980,https://www.airbnb.com/rooms/40843980,20251001171547,2025-10-01,city scrape,Cozy 2 Bedroom Spacious Apartment near Manhattan,This 2 bed. furnished apt on the 2nd fl. in Oz...,The borough of Queens offers plenty of outdoor...,https://a0.muscache.com/pictures/c5ca4ce9-8cb5...,295370107,...,4.06,4.46,4.00,NaN,f,2,2,0,0,1.46
3,40824301,https://www.airbnb.com/rooms/40824301,20251001171547,2025-10-02,city scrape,Cozy room in Williamsburg,"This place is located in Williamsburg, close t...",This is such a cool neighborhood with great st...,https://a0.muscache.com/pictures/hosting/Hosti...,14890430,...,4.88,4.88,4.77,NaN,f,1,0,1,0,0.86
4,40825740,https://www.airbnb.com/rooms/40825740,20251001171547,2025-10-02,city scrape,House of Oyo - A Historic Brownstone Mansion,Located on the prestigious St. Marks Millionai...,"There are great coffee shops, bars, restaurant...",https://a0.muscache.com/pictures/55752387-150b...,7728754,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.03

In [2]:
# Create new features from cleaned data
listing_features = pd.DataFrame()

listing_features["listing_id"] = df_clean["id"]

listing_features["price"] = df_clean["price"]

listing_features["borough"] = df_clean["neighbourhood_group_cleansed"]
listing_features["neighbourhood_name"] = df_clean["neighbourhood_cleansed"]

listing_features["accommodates"] = df_clean["accommodates"]
listing_features["bedrooms"] = df_clean["bedrooms"]
listing_features["beds"] = df_clean["beds"]

accom = listing_features["accommodates"].replace(0, np.nan)
listing_features["price_per_accommodate"] = listing_features["price"] / accom

listing_features["host_is_superhost"] = df_clean["host_is_superhost"]
listing_features["number_of_reviews"] = df_clean["number_of_reviews"]
listing_features["review_scores_rating"] = df_clean["review_scores_rating"]
listing_features["availability_365"] = df_clean["availability_365"]

listing_features.head()

,listing_id,price,borough,neighbourhood_name,accommodates,bedrooms,beds,price_per_accommodate,host_is_superhost,number_of_reviews,review_scores_rating,availability_365
0,40824219,66.0,Queens,Sunnyside,1,1.0,1.0,66.000000,t,16,4.81,77
1,40839416,76.0,Manhattan,East Village,1,1.0,1.0,76.000000,t,20,4.95,168
2,40843980,97.0,Queens,Ozone Park,6,2.0,3.0,16.166667,t,93,4.14,364
3,40824301,60.0,Brooklyn,Williamsburg,1,2.0,1.0,60.000000,t,26,4.92,187
4,40825740,425.0,Brooklyn,Crown Heights,6,3.0,3.0,70.833333,f,1,5.00,224

In [3]:
# Save features to CSV
os.makedirs("../data/processed", exist_ok=True)

out_path = "../data/processed/listing_features.csv"
listing_features.to_csv(out_path, index=False)

print(f"Features saved to: {out_path}")
out_path

Features saved to: ../data/processed/listing_features.csv

'../data/processed/listing_features.csv'